input{
    border: none;
    outline: none;
    background: none;
    display: block;
  
}
.fl{
  float: left;
}
.fr{
   float: right;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.img-auto{
    display: block;
    width: 100%;
    height: 100%;
}
.main-color{
   background-color:#04C568; 
}
.text-color{

}
.one-text{
    
}